.app-header {
  width: 100%;
  height: 70px;
  background: #0f172a;
  /* dark blue */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
}

.header-inner {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  position: relative;
}

/* Logo Left */
.logo-box img {
  width: 42px;
  height: 42px;
}

/* Center Title */
.app-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  font-weight: 700;
  color: #38bdf8;
  /* sky blue */
  letter-spacing: 1px;
  user-select: none;
}