.ai-header {
  width: 100%;
  height: 64px;
  background: #0b0b0b;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0 4px 20px rgba(0, 255, 255, 0.15);
}


.logo-box {
  position: absolute;
  left: 20px;
  display: flex;
  align-items: center;
}


.logo-img {
  width: 36px;
  height: 36px;
  filter: drop-shadow(0 0 6px cyan);
}


.app-title {
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 600;
  text-shadow: 0 0 8px rgba(0, 255, 255, 0.6);
}